body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  border: 1px solid #ccc;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.login {
  background-color: #4caf50;
  color: white;
}

button.signup {
  background-color: #007bff;
  color: white;
}

button.back {
  background-color: #ff4136;
  color: white;
}

button:hover {
  opacity: 0.9;
}

#error-message {
  display: none;
  color: red;
  margin-top: 10px;
}
