body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* 전체 화면 높이 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4; /* 배경색 설정 */
}
.container {
  width: 600px;
  height: 80%; /* 컨테이너 높이 조정 */
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* 컨테이너 배경색 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 제목과 내용 사이의 간격을 자동 조정 */
}
.header {
  display: flex;
  flex-direction: row; /* 버튼을 일렬로 정렬 */
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */

  border-bottom: 2px solid #ddd; /* 버튼 아래 구분선 추가 */
  padding-bottom: 10px; /* 구분선과 버튼 사이의 여백 설정 */
}
.header button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 14px;
  margin-left: 10px; /* 버튼 간격 설정 */
  cursor: pointer;
  border-radius: 4px;
}
#title {
  font-size: 24px;
  text-align: center;
  margin: 20px 0; /* 제목과 내용 사이의 간격 설정 */
  border-bottom: 2px solid #ddd; /* 구분선 추가 */
  padding-bottom: 10px; /* 구분선과 제목 사이의 여백 설정 */
}
#content {
  font-size: 18px;
  text-align: center;
  flex-grow: 1; /* 내용 부분이 화면을 채우도록 설정 */
  line-height: 1.5;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
}
